body {
	margin: 0;
	padding: 0;
}
.top-container {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	background-size: 100%;

	background-repeat: repeat-y;
	background-image: url("./body-img2.jpg");
}

.container {
	list-style-type: none;
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.detail-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.title {
	margin-left: 90px;
}

.img-video {
	margin-left: 90px;
	margin-top: 20px;
}

.desc {
	margin-left: 90px;
	width: 250px;
	font-style: oblique;
	font-size: larger;
}

.rating {
	margin-left: 90px;
}

.btnBack {
	margin-left: 10px;
	margin-top: 10px;

	transition: transform 0.5s;
}

.space {
	border-bottom: 0.5px solid red;
	border-radius: 30em;
	width: 75px;
	margin-top: 10px;
}

.btnBack:hover {
	transform: scale(1.1);
	z-index: 100;
}

.listBtn {
	width: 150px;
	margin: 0.5em;
	font-family: Source Sans Pro;
	font-size: 1rem;
	line-height: 3.5em;
	padding: 0 1.5em;
	background: linear-gradient(90deg, rgba(237, 237, 237, 1) 15%, rgba(230, 47, 11, 1) 47%);
	box-shadow: inset 0 -.125rem rgba(0, 0, 0, .2);
	color: black;
	border-radius: 5em;
	cursor: pointer;
	user-select: none;
	transform-origin: 100% 100%;
	outline: none;
	margin-left: 25px;
}

.movie {
	position: absolute;
	margin-left: 190px;
	margin-top: 8px;
}

.search {
	width: 320px;
	margin-left: 25px;
	margin-top: 10px;
	border: 0;
	border-bottom: 1px solid black;
	background-color: transparent;
	font-style: oblique;
	font-size: larger;
	outline: none;
}

::placeholder {
	color: white;
	font-size: 15px;
	transition: transform 0.5s;
}

.search:hover {
	transform: scale(1.1);
	z-index: 100;
	box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

ul li {
	list-style: none;
	padding: 12px;
	width: 250px;
	background: transparent;
	box-shadow: 0 30px 25px rgba(0, 0, 0, .1);
	transition: transform 0.5s;
	cursor: pointer;
}

ul li:hover {
	transform: scale(1.1);
	z-index: 100;
	background: orange;
	box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
	color: #fff;
}

@media only screen and (min-width: 770px) {
	.title {
		width: 300px;
	}
	.top-container {
		background-image: url("./body-img.jpg");
		background-color: rgb(229, 189, 0);
		background-repeat: no-repeat;
		background-size: 100%;
	}
}

@media only screen and (min-width: 1000px) {
	.title {
		margin-left: 100px;
	}

	.img-video {
		margin-left: 300px;
	}

	.desc {
		margin-left: 100px;
		width: 700px;
	}

	.rating {
		margin-left: 100px;
	}

	.listBtn {
		margin-left: 35px;
	}

	.movie {
		margin-left: 210px;
	}

	ul li {
		width: 500px;
	}

	.search {
		width: 520px;
		margin-left: 40px;
	}

	.top-container {
		background-image: url("./body-img.jpg");
		background-color: rgb(229, 189, 0);
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
	}
}
